{% extends 'tulia/dashboard/dashboard.html' %}
{% load humanize %}
{% load static %}
{% block content %}
    <div class="dashboard-wrapper">
            <div class="container-fluid  dashboard-content">
                <!-- ============================================================== -->
                <!-- pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title">Regions</h2>

                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- ============================================================== -->
                    <!-- basic table  -->
                    <!-- ============================================================== -->
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <h5 class="card-header">Basic Table</h5>
                            <div class="card-body">
                                <div class="table-responsive">
                                     <form action="{% url 'TuliaAdmin:view-regions' %}" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="input-group col-sm-12 marginY" >
                                       <div class="form-group">
                                            <label class="custom-control" for=region_name">Region:</label>
                                            <input placeholder="Region Name" name="name" type="text" class="form-control" id="region_name">
                                       </div>
                                    </div>
                                    <div class="input-group col-sm-12 marginY">
                                       <div class="form-group">
                                            <label class="custom-control" for="region_cost">Region Cost</label>
                                            <input name="region_cost" placeholder="Region Destination cost"  type="number" class="form-control" id="region_cost" required>
                                       </div>
                                    </div>
{#                                    <div class="form-group has-feedback  col-sm-12">#}
{#                                      <label for="sel3">Seller</label> <br>#}
{#                                      <select required name="seller" id="sel3" class="selectpicker" data-show-subtext="true" data-live-search="true">#}
{#                                        <option value="">Choose A Seller</option>#}
{#                                        {% for seller in sellers %}#}
{#                                         <option data-subtext="{{ seller.first_name }}" value="{{ seller.id }}">{{ seller.first_name }}{{ seller.last_name }}</option>#}
{#                                        {% endfor %}#}
{#                                      </select>#}
{#                                    </div>#}
                                    <button type="submit" class="btn btn-success marginY"><i class="fas fa-plus-circle"></i> Add</button>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <h5 class="card-header">Carousell Images ({% if carousels %} {{ carousels.count }} {% endif %})</h5>
                            <div class="card-body">
                                <div class="table-responsive">
                                 <table id="" class="example table table-striped table-bordered" style="width:100%;">
                                    <thead>
                                        <tr class="text-capitalize">
                                            <th>Id</th>
                                            <th>Name</th>
                                            <th>Region Cost</th>
                                            <th>Created At</th>
                                            <th>Updated At</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for region in regions %}
                                            <tr class="text-center ">
                                                <td class="tb-data">{{ region.id }}</td>
                                                <td class="tb-data font-weight-bolder text-capitalize">{{ region.name }}</td>
                                                <td class="tb-data">{{ region.region_cost|floatformat:1|intcomma }} Ksh</td>
                                                <td class="tb-data">{{ region.created_at }}</td>
                                                <td class="tb-data">{{ region.updated_at }}</td>
                                                <td class="tb-data">
                                                    <a data-toggle="modal" data-target="#rd{{ region.id }}" href="#" class="btn btn-danger"><i class="fas fa-trash"></i> Delete</a>
                                                    <a data-toggle="modal" data-target="#{{ region.id }}" href="" class="btn btn-success" >
                                                        <i class="fas fa-pencil-alt"></i> Edit
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>

                                {% for region in regions %}
                                    <!-- Modal -->
                                    <div class="modal fade" id="{{ region.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                      <div class="modal-dialog" >
                                        <div class="modal-content modal-dialog-centered">
                                          <div class="modal-header bg-orange-shoppy">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title text-white" id="myModalLabel">Edit Regions</h4>
                                          </div>
                                          <div class="modal-body">
                                            <form action="{% url 'TuliaAdmin:edit-regions' region.id %}" method="POST" >
                                                {% csrf_token %}
                                                <div class="input-group col-sm-12 marginY" >
                                                   <div class="form-group">
                                                        <label class="custom-control" for=region_name">Region:</label>
                                                        <input value="{{ region.name }}" placeholder="Region Name" name="name" type="text" class="form-control" id="region_name">
                                                   </div>
                                                </div>
                                                <div class="input-group col-sm-12 marginY">
                                                   <div class="form-group">
                                                        <label class="custom-control" for="region_cost">Region Cost</label>
                                                        <input value="{{ region.region_cost }}" name="region_cost" placeholder="Region Destination cost"  type="number" class="form-control" id="region_cost" required>
                                                   </div>
                                                </div>
                                                <button type="submit" class="btn btn-success marginY"><i class="fas fa-file"></i> Save</button>
                                                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>

                                            </form>
                                          </div>

                                        </div>
                                      </div>
                                    </div>
                                {% endfor %}
                                    {% for region in regions %}
                                  <!-- Modal -->
                                  <div class="modal fade " id="rd{{ region.id }}" role="dialog">
                                    <div class="modal-dialog modal-sm ">
                                      <div class="modal-content ">
                                        <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                          <h4 class="modal-title">Region Delete Confirmation</h4>
                                        </div>
                                        <div class="modal-body">
                                          <h4>Are you sure you want to delete {{ region.name }} </h4>
                                        </div>
                                        <div class="modal-footer">
                                          <a href="{% url 'TuliaAdmin:delete-regions' region.id %}" class="btn btn-danger"><i class="fas fa-trash"></i> Delete</a>
                                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- ============================================================== -->
                    <!-- end basic table  -->
                    <!-- ============================================================== -->
                </div>

            </div>
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            Copyright © 2018 Concept. All rights reserved. Dashboard by <a href="https://colorlib.com/wp/">Colorlib</a>.
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="text-md-right footer-links d-none d-sm-block">
                                <a href="javascript: void(0);">About</a>
                                <a href="javascript: void(0);">Support</a>
                                <a href="javascript: void(0);">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
{% endblock content %}

  {% block scripts %}
      <script>
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('.blah')
                            .attr('src', e.target.result);
                    };
                    reader.readAsDataURL(input.files[0]);
                }
            }
      </script>
    {% endblock scripts %}