{% extends 'shoppy/layout.html' %}
{% load static %}
{% load call_method %}

{% block content %}
    <div class="content-section">
    <h2 class="py-4">Pin Confirmation </h2>
         <p>
            We have text you pin for setting your password, if an account exists with the phonenumber you entered.
            You should receive an SMS shortly.
         </p>
         <p>
            If you don't receive an email, please make sure you've entered the phonenumber you registered with.
         </p>
        <form action="{% url 'Shoppy:verifyCode' %}">
            <div class="col-md-12 mb-3">
                  <label for="id_new_password1">Enter Sms Pin:</label>
                  <input type="text" name="short_code" class="form-control" id="validationCustom04"  required>
            </div>
            <div class="row px-4">
                <button class="btn bg-org ml-auto" type="submit">Verify</button>

            </div>
        </form>
    <div class="row col-sm-12">
        Back to <a class="ml-2" href="{% url 'Shoppy:shoppy-login' %}"> Log in</a>
    </div>
    </div>

{% endblock %}