{% extends 'tulia/dashboard/dashboard.html' %}
{% load static %}
{% load call_method %}
{% load humanize %}
{% block content %}
    <div class="dashboard-wrapper">
            <div class="container-fluid  dashboard-content">
                <!-- ============================================================== -->
                <!-- pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title">Data Tables</h2>

                        </div>
                    </div>
                </div>

                         <!-- Modal -->
                          <div class="modal fade" id="productadd" role="dialog">
                            <div class="modal-dialog modal-lg">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  <h4 class="modal-title">Add Products</h4>
                                </div>
                                <div class="modal-body">
                                <div id="error_div">
                                    {% include 'tulia/product/error.html' %}
                                </div>
                                  <fieldset>
                                      <form id="addproductform" method="POST" action="{% url 'TuliaAdmin:addproducts' %}" enctype="multipart/form-data">
                                          {% csrf_token %}
                                          <div class="form-group has-feedback col-sm-12">
                                              <label class="control-label" for="name">Product Name <small class="text-danger">*</small></label>
                                              <input type="text" name="name" class="form-control has-success" id="name" aria-describedby="name" placeholder="Product Name">
                                          </div>
                                          <div class="form-group has-feedback img-file col-sm-12">
                                              <label class="control-label" for="username">Main Image<small class="text-danger">*</small></label>
                                              <input type="file"  name="featured_url" class="form-control"  accept=".png, .jpeg, .jpg" aria-describedby="usernameStatus" placeholder="Main Image">
                                          </div>
                                         <div class="divider"></div>
                                          <div class="form-group has-feedback  col-sm-6 w-100" >
                                              <label for="sel2" class="control-label">Select Category<small class="text-danger">*</small></label> <br>
                                              <select style="width: 100%;" name="category" class="form-control w-100" id="sel2" data-show-subtext="true" data-live-search="true">
                                                {% for category in categories %}
                                                    <option id="sel2" data-subtext="{{ category.name }}" value="{{ category.id }}">{{ category.name }} </option>
                                                {% endfor %}
                                              </select>
                                          </div>

                                          <div class="form-group has-feedback  col-sm-6 w-100" >
                                              <label class="control-label" for="sel1">Select Brand<small class="text-danger">*</small></label> <br>
                                              <select style="width: 100%;" name="product_brand" id="sel1" class="form-control w-100" data-show-subtext="true" data-live-search="true">
                                                {% for brand in brands %}
                                                  <option id="sel1" data-subtext="{{ brand.name }}" value="{{ brand.id }}">{{ brand.name }}</option>
                                                {% endfor %}
                                              </select>
                                          </div>
                                          <div class="divider"></div>
                                            <div class="form-group has-feedback  col-sm-12 w-100">
                                              <label for="sel21" class="control-label">Vat</label> <br>
                                              <select id="sel21" name="vat_status" class="form-control w-100"  data-show-subtext="true" data-live-search="true">
                                                  <option disabled selected >Choose vat status</option >
                                                    <option value="VAT">Vatable </option>
                                                    <option value="NO_VAT">Non-vatable </option>
                                              </select>
                                          </div>
                                          <div class="form-group has-feedback img-file col-sm-12">
                                              <label class="control-label" for="username">Other Image</label>
                                              <input placeholder="other_images" type="file" accept=".png, .jpeg, .jpg" id="other_images" multiple name="other_images[]" class="form-control">
                                          </div>
{#                                        <input type="text" value="{{ sellerz.user_ptr_id }}" name="seller" hidden>#}

                                        <div class="divider-custom"></div>
                                          {% for variant in variants %}
                                            <div class="dropdown col-sm-3 row" style="margin-right:23px;">
                                              <label for="sel2" class="control-label text-capitalize">{{ variant.name }}</label> <br>
                                              <button style=" width: 238px; text-align: left; color: black;" class="text-dark btn btn-outline-warning dropdown-toggle  text-capitalize" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Select {{ variant.name }}
                                              </button>
                                              <div style="width: 235px" class="dropdown-menu myDropdown" id="myDropdown" aria-labelledby="dropdownMenuButton">
                                                 <input class="text-dark dropdown-search myInput" type="text" placeholder="Search for here.." id="myInput" onkeyup="filterFunction()">
                                                 {% for option in variant.options %}
                                                    <label class="check-container text-capitalize text-dark">{{ option.name }}
                                                      <input name="variant_options[]" value="{{ option.id }}" type="checkbox"> &nbsp;
                                                      <span class="checkmark"></span>
                                                    </label>
                                                 {% endfor %}
                                              </div>
                                            </div>
                                          {% endfor %}
                                          <div class="divider"></div>

                                          <div class="form-group has-feedback col-sm-12 py-3">
                                              <label class="control-label" for="name">Product Price <small class="text-danger">*</small></label>
                                              <input  min="5" type="number" name="unit_cost" class="form-control has-success" id="name" aria-describedby="name" placeholder="Product Price">
                                          </div>
                                          <div class="form-group has-feedback col-sm-12 py-3">
                                              <label class="control-label py-2" for="quantity">Product Inventory <small class="text-danger">*</small></label>
                                              <div class="slider-container" style="margin-left: 9px;">
                                                <button class="btn-num-product-down slider-contents slider-contents-control border-right"><i class="fas fa-minus"></i></button>
                                                <input required name="quantity" id="quantity" value="1" class="slider-contents slider-contents-center num-product d-flex justify-content-center align-items-center slider_count" type="number"  >
                                                <button class="btn-num-product-up slider-contents slider-contents-control border-left"><i class="fas fa-plus"></i></button>
                                              </div>
                                          </div>
                                          <div class="divider"></div>

                                          <div class="form-group has-feedback col-sm-12">
                                              <label class="control-label" for="username2">Short Description<small class="text-danger">*</small></label>
                                              <input  type="text" class="form-control" name="short_description" id="name" aria-describedby="usernameStatus" placeholder="Short Description">
                                          </div>
                                          <div class="form-group has-feedback col-sm-12">
                                              <label class="control-label" for="username2">Long Description</label>
                                              <textarea id="editor1"  style="resize: none;" name="long_description" class="form-control " cols="30" rows="10"  ></textarea>
                                          </div>
                                          <div class="divider"></div>

                                          <div class="col-sm-12">
                                              <button type="submit" class="btn btn-lg btn-success">Add</button>
                                              <button type="reset" class="btn btn-lg btn-danger">Reset</button>
                                          </div>

                                      </form>
                                  </fieldset>
                                </div>
                              </div>
                            </div>
                          </div>
                <!-- ============================================================== -->
                <!-- end pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- ============================================================== -->
                    <!-- basic table  -->
                    <!-- ============================================================== -->
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <h5 class="card-header">Basic Table</h5>
                            <div class="card-body">
                                <div class="table-responsive">
                                 <a href="#" class="btn-success btn pull-right" data-toggle="modal" data-target="#productadd">Add Products</a>
                                     <table id="example1" class="table table-striped table-bordered" style="width:100%;">
                                        <thead>
                                            <tr class="text-capitalize">
                                                <th>Id</th>
                                                <th>Picture</th>
                                                <th>Name</th>
                                                <th>Brand</th>
                                                <th>Price(Kshs)</th>
                                                <th>Status</th>

                                                <th>Created At</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for product in products %}
                                            <tr class="text-center ">
                                                <td class="tb-data">{{ product.id }}</td>
                                                <td class="tb-data tb-data" style="width: 110px; position: relative">
                                                    <div class="product-image ">
                                                       <img style="width: 100%;" src="{{ product.featured_url.url }}" alt="{{ product.name }}">
                                                    </div>

                                                    {% if product.id|product_on_offer %}
                                                        {% for offer in product.id|product_on_offer %}
                                                            <span class="badge-custom-admin">
                                                                Offer {{ offer.offer_percentage }}%
                                                            </span>
                                                        {% endfor %}
                                                    {% endif %}
                                                </td>
                                                <td class="product-details" style="width: 299px; text-transform: uppercase;">{{ product.name }}</td>
                                                <td class="tb-data">{{ product.product_brand }}</td>
                                                <td class="tb-data ">
                                                    {% if  product.price_after_offer and product.id|product_on_offer %}
                                                        <div style="display: flex;flex-direction: column;">
                                                            <span> {{ product.price_after_offer|floatformat:1|intcomma }}Kshs</span>
                                                            <span class="striked-price">{{ product.unit_cost_inclusive_of_vat|floatformat:1|intcomma }} Kshs</span>
                                                        </div>
                                                    {% else %}
                                                        <span> {{ product.unit_cost|floatformat:1|intcomma }}Kshs</span>
                                                    {% endif %}
                                                </td>
                                                <td class="tb-data">{{ product.status }}</td>

                                                <td class="tb-data">{{ product.created_at }}</td>
                                                <td class="tb-data">{{ product.status }}</td>
                                                <td style=" width:302px" class="text-center tb-data">
                                                    <a onclick="changeFeaturedStatus(this)" id="featproduct{{ product.id }}" class="{% if product.feat_product == 'NORMAL' %} btn-info {% else %} btn-success {% endif %} btn" href="javascript:void(0);" data-product="{{ product.id }}" data-url="{% url 'TuliaAdmin:product_featured' %}">
                                                     {{ product.feat_product }}
                                                </a>
                                                    <script>
                                                     function changeFeaturedStatus(event){
                                                            var url = event.dataset.url;
                                                            var product_id = event.dataset.product;
                                                            var product = event.id;

                                                            $.ajax({
                                                            type : 'POST',
                                                            data : {
                                                                'product_id' : product_id,
                                                            },
                                                            url :url,
                                                            success : function(response) {
                                                                var prod = document.getElementById(product);
                                                                if (response.results === "normal_success") {
                                                                    console.log("normal_success");
                                                                    var classList =prod.classList;
                                                                    for (x in classList) {
                                                                       classList.remove(classList.item(x));
                                                                    }
                                                                    prod.classList.add("btn");
                                                                    prod.classList.add("btn-info");
                                                                    prod.innerText = "NORMAL";
                                                                    prod.classList.add('text-white')

                                                                }
                                                                else if(response.results === "featured_success") {
                                                                    console.log("featured_success");
                                                                    var classList =prod.classList;
                                                                    for (x in classList) {
                                                                       classList.remove(classList.item(x));
                                                                    }
                                                                    prod.classList.add("btn");
                                                                    prod.classList.add("btn-success");
                                                                    prod.innerText = "FEATURED";
                                                                     prod.classList.add('text-white')

                                                                }
                                                            },
                                                            error : function(request,error)
                                                            {
                                                               console.log(error)
                                                            }
                                                        });

                                                }
                                                </script>
                                                    <a href="#" data-toggle="modal" data-target="#ff{{ product.id }}" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Delete</a>
{#                                                    <a href="" class="btn btn-success"><i class="fas fa-pencil-alt"></i> Edit</a>#}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% for product in products %}
                      <div class="modal fade" id="ff{{ product.id }}" role="dialog">
                        <div class="modal-dialog modal-sm">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Product Delete Confirmation</h4>
                            </div>
                            <div class="modal-body">
                              <h4>Are you sure you want to delete! product <strong>{{ product.name }}</strong></h4>
                            </div>
                            <div class="modal-footer">
                                <a class="btn-danger btn" href="{% url 'TuliaAdmin:deleteproducts' product.id %}"><em class="fas fa-trash-alt"></em> Delete</a>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                    <!-- ============================================================== -->
                    <!-- end basic table  -->
                    <!-- ============================================================== -->
                </div>

            </div>
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            Copyright © 2018 Concept. All rights reserved. Dashboard by <a href="https://colorlib.com/wp/">Colorlib</a>.
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="text-md-right footer-links d-none d-sm-block">
                                <a href="javascript: void(0);">About</a>
                                <a href="javascript: void(0);">Support</a>
                                <a href="javascript: void(0);">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
{% endblock content %}
  {% block scripts %}
      <script>
        $('.btn-num-product-down').on('click', function(e){
        e.preventDefault();
        var numProduct = Number($(this).next().val());
        if(numProduct > 1) $(this).next().val(numProduct - 1);
        });

        $('.btn-num-product-up').on('click', function(e){
            e.preventDefault();
            var numProduct = Number($(this).prev().val());
            $(this).prev().val(numProduct + 1);
        });
      </script>
      <script>
    $(document).ready(function() {
        $("#addproductform").submit(function (e) {
            e.preventDefault();
            {#var spinner = $('#signuploader');#}
            var new_form_data = new FormData(this);

            $.ajax({
                method : 'POST',
                processData: false,
                contentType: false,
                cache: false,
                data : new_form_data,
                enctype: 'multipart/form-data',
                url :  $("#addproductform").attr('action'),
                success : function(response){

                    if (response.results === 'success') {
                         {#spinner.hide();#}
                        $("#addproductform")[0].reset();
                        swal.fire({
                            title: "Success!",
                            text: response.success,
                            type: "success",
                            confirmButtonText: "Continue",
                        });
                        $('#productadd').scrollTop(0);
                        $('#error_div').hide();



                    }
                    else {
                        $('#error_div').html(response);
                         {#spinner.hide();#}
                        setTimeout(function () {
                            swal.fire({
                                title: "Error!",
                                text: "Form Is Invalid. Please fix the above errors",
                                type: "error",
                                confirmButtonText: "Retry"
                            });
                        },2000);
                        $('#productadd').scrollTop(0);


                    }

                },
                error : function(response){
                    console.log(response);
                     swal.fire({
                        title: "Success!",
                        text: 'Please contact your software engineer',
                        type: "success",
                        confirmButtonText: "Continue",
                    });

                }
            })
        });
    });
    </script>
  {% endblock scripts %}
