{% extends 'tulia/dashboard/dashboard.html' %}
{% load static %}
{% block content %}
    <div class="dashboard-wrapper">
            <div class="container-fluid  dashboard-content">
                <!-- ============================================================== -->
                <!-- pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title">Data Tables</h2>

                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end pageheader -->
                {% for sub_category in sub_categories %}
                        <!--edit confirm Modal -->
                      <div class="modal fade" id="editcategory{{ sub_category.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Edit Category {{ sub_category.name }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                               <fieldset>
                                     <form action="{% url 'TuliaAdmin:edit_category' sub_category.id %}" method="POST">
                                     {% csrf_token %}
                                         <div class="form-group has-success has-feedback">
                                          <label class="control-label" for="brand">Category Name</label>
                                          <input value="{{ sub_category.name }}" type="text" class="form-control" name="name" id="brand" aria-describedby="inputSuccess2Status" required>
                                          <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                          <span id="inputSuccess2Status" class="sr-only">(success)</span>
                                        </div>
                                        <div class="form-group has-feedback  col-sm-12">
                                          <label for="sel1">Category</label> <br>
                                          <select name="parent_id" class="selectpicker" data-show-subtext="true" data-live-search="true">
                                              <option value="">None</option>
                                            {% for category in categories %}
                                             <option data-subtext="{{ category.name }}" {% if sub_category.parent_id_id == category.id  %} selected {% endif %} value="{{ category.id }}">{{ category.name }}</option>
                                            {% endfor %}
                                          </select>
                                        </div>
                                        <div class="paddingy2">
                                            <button type="submit" class="btn btn-success"> <i class="fas fa-plus"></i> Save</button>
                                            <button type="button" class="btn btn-warning" data-dismiss="modal"><i class="fas fa-close"></i> Close</button>
                                        </div>
                                     </form>
                               </fieldset>
                              </div>
        {#                      <div class="modal-footer">#}
        {#                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>#}
        {#                        <button type="button" class="btn btn-primary">Save changes</button>#}
        {#                      </div>#}
                            </div>
                          </div>
                        </div>

                {% endfor %}
                <!-- ============================================================== -->
                <div class="row">
                    <!-- ============================================================== -->
                    <!-- basic table  -->
                    <!-- ============================================================== -->
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <h5 class="card-header">Basic Table</h5>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="" class="example table table-striped table-bordered" style="width:100%;">
                                        <thead>
                                            <tr class="text-capitalize">
                                                <th>Id</th>
                                                <th>Name</th>
                                                <th>Created At</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for category in sub_categories %}
                                                <tr class="text-center ">
                                                    <td class="tb-data">{{ category.id }}</td>
                                                    <td class="tb-data">{{ category.name }} </td>
                                                    <td class="tb-data">{{ category.created_at }}</td>
                                                    <td class="tb-data">
                                                        <a href="" data-toggle="modal" data-target="#delete{{ category.id }}" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Delete</a>
                                                        <a href="" data-toggle="modal" data-target="#editcategory{{ category.id }}" class="btn btn-success"><i class="fas fa-pencil-alt"></i> Edit</a>
                                                    </td>
                                                </tr>
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end basic table  -->
                    <!-- ============================================================== -->
                </div>

            </div>
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            Copyright © 2018 Concept. All rights reserved. Dashboard by <a href="https://colorlib.com/wp/">Colorlib</a>.
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="text-md-right footer-links d-none d-sm-block">
                                <a href="javascript: void(0);">About</a>
                                <a href="javascript: void(0);">Support</a>
                                <a href="javascript: void(0);">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
{% endblock content %}