{% extends 'shoppy/layout.html' %}
{% load static %}
{% load call_method %}

{% block content %}
    {% if validlink %}
        <div class="forms-background" >
          <div class="content-section">
              {% if errors %}
                <ul class="p-0">
                {% for error in errors %}
                    <div class="alert alert-danger" role="alert">
                      {{ error }}
                    </div>
                {% endfor %}
                </ul>
              {% endif %}

              {% if messages %}
                <ul class="messages">
                  {% for message in messages %}
                      <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}" role="alert">
                          {{ message }}
                      </div>
                  {% endfor %}
                </ul>
              {% endif %}

              {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                          <strong class="text-white">{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger text-white">
                      <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
              {% endif %}

                <h2 class="py-4">Change Pin</h2>
                <form  method="POST">
                    {% csrf_token %}
                        <div class="col-md-12 mb-3">
                              <label for="id_new_password1">New password:</label>
                              <input type="password" name="new_password1" class="form-control" id="validationCustom04" placeholder="Password" required>
                                <small id="passwordHelpBlock" class="form-text text-muted">
                                  Your password must be 8-20 characters long, contain letters and numbers.
                                </small>
                              <div class="invalid-feedback">
                                Please provide a valid state.
                              </div>
                              <div class="valid-feedback">
                                Better looking.
                              </div>
                        </div>
                        <div class="col-md-12 mb-3">
                              <label for="validationCustom04">Confirm password</label>
                              <input type="password" name="new_password2" class="form-control" id="validationCustom04" placeholder="Password" required>
                                <small id="passwordHelpBlock" class="form-text text-muted">
                                  Your password must be 8-20 characters long, contain letters and numbers.
                                </small>
                              <div class="invalid-feedback">
                                Please provide a valid state.
                              </div>
                              <div class="valid-feedback">
                                Better looking.
                              </div>
                        </div>
                      <button class="product-button" type="submit">Reset</button>
                </form>
                <div class=" pt-3">
                    <small class="text-muted medium-text">
                        Need an account? <a href="{% url 'Shoppy:shoppy-buyer-reg' %}" class="ml-2">Sign up</a>
                    </small>
                </div>


          </div>
        </div>
    {% else %}
        <div class="content-section">
            <p>
              The password reset link was invalid, possibly because it has already been used.
              Please request a new password reset.
            </p>
        </div>
    {% endif %}
{% endblock %}