{% extends 'shoppy/layout.html' %}
{% load staticfiles %}
{% load call_method %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block content %}
        <div class="content-section">
          {% if errors %}
            <ul class="p-0">
            {% for error in errors %}
                <div class="alert alert-danger" role="alert">
                  {{ error }}
                </div>
            {% endfor %}
            </ul>
          {% endif %}

          {% if messages %}
            <ul class="messages">
              {% for message in messages %}
                  <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}" role="alert">
                      {{ message }}
                  </div>
              {% endfor %}
            </ul>
          {% endif %}

          {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                      <strong class="text-white">{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger text-white">
                  <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
          {% endif %}



            <div class="phoneform" id="one">
                <h2 class="py-4">Enter Your Account Phone Number</h2>
              <form id="phoneform" method="POST" action="{% url 'Shoppy:getpinShortcode' %}">
                {% csrf_token %}
                <div class="col-md-12 mb-3">
                      <label for="id_new_password1">Enter Your PhoneNumber</label>
                      <input  type="number" name="phone_number" class="form-control" id="id_new_password1" placeholder="PhoneNumber" required>
                </div>
                <button class="product-button" type="submit">Submit</button>
             </form>
            </div>

            <div  class="pinconfirm" id="two" style="display:none;">
                <h2 class="py-4">Enter The ShortCode</h2>
                <form id="pinform" method="post" action="{% url 'Shoppy:verifyCode' %}">
                    {% csrf_token %}
{#                    <input  type="number" name="phone_number" class="form-control" id="validationCustom055" placeholder="PhoneNumber" hidden>#}
                    <div class="col-md-12 mb-3">
                          <label for="id_new_password1">Enter Sms Pin:</label>
                          <input type="text" name="short_code" class="form-control" id="validationCustom04"  required>
                    </div>
                    <div class="row px-4">
                        <button class="product-button ml-auto" type="submit">Verify</button>

                    </div>
                </form>
            </div>
            <div class="pinreset" id="three" style="display: none;">
                <h2 class="py-4">Enter New Pin</h2>
                <form id="passwdform" action="{% url 'Shoppy:verifypassword' %}" method="post">
                     {% csrf_token %}
                    <input  type="number" name="phone_number" class="form-control" id="validationCustom066ld" placeholder="PhoneNumber" hidden>
                    <div class="col-md-12 mb-3">
                      <label for="id_new_password1">New Pin:</label>
                      <input maxlength="4" type="password" name="new_password1" class="form-control" id="validationCustom0b4" placeholder="Pin" required>
                      <small id="passwordHelpBlock" class="form-text text-muted">
                          Your pin must be 4 characters long, contain letters and numbers.
                      </small>
                    </div>
                    <div class="col-md-12 mb-3">
                      <label for="validationCustom04">Confirm Pin</label>
                      <input maxlength="4" type="password" name="new_password2" class="form-control" id="validationCustom095" placeholder="Pin" required>
                      <small id="passwordHelpBlock" class="form-text text-muted">
                          Your pin must be 4 characters long, contain letters and numbers.
                      </small>
                    </div>
                    <button class="product-button ml-auto" type="submit">Reset</button>
                </form>
            </div>

            <div class=" pt-3">
                <small class="text-muted medium-text">
                    Need an account? <a href="{% url 'Shoppy:shoppy-login' %}" class="ml-2">Sign In</a>
                </small>
            </div>
      </div>
{% endblock %}
{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>


        $(function () {

           $('#phoneform').submit(function (e) {
               e.preventDefault();

                var id_new_password1 = document.getElementById('id_new_password1').value;
                {#var validationCustom066 = document.getElementById('validationCustom066');#}
                {#var validationCustom055 = document.getElementById('validationCustom055');#}
                {#validationCustom066.value = id_new_password1;#}
                {#validationCustom055.value = id_new_password1;#}

               $.ajax({
                   type: 'POST',
                   url : $('#phoneform').attr('action'),
                   data:{
                       'phone_number' : id_new_password1,
                       'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val(),
                   },
                   dataType:'json',
                   success : function (data) {
                        if (data.results === 'success'){
                            console.log(data+'success');
                            $('#one').fadeOut();
                            $('#two').fadeIn();
                            swal.fire({
                                title: "Success!",
                                text: data.response,
                                type: "success",
                                confirmButtonText: "Continue",
                            });
                        }
                        if(data.results === 'error') {
                            $("#errorr").innerText = data.response;
                            console.log(data+'error');
                            swal.fire({
                                title: "Error!",
                                text: "",
                                type: "error",
                                confirmButtonText: "Retry"
                            });
                        }
                   },

               });

           });

       });
        $(function () {

           $('#pinform').submit(function (e) {
               e.preventDefault();
                {#var phone = document.getElementById('validationCustom055').value;#}
                var pin = document.getElementById('validationCustom04').value;
               $.ajax({
                   type: 'POST',
                   url : $('#pinform').attr('action'),
                   data:{

                       'short_code':pin,
                       'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val(),
                   },
                   dataType:'json',
                   success : function (data) {
                        if (data.results === 'success'){
                            console.log(data+'success');
                            $('#two').fadeOut();
                            $('#three').fadeIn();
                            $('#validationCustom066ld').attr('value', data.phone_number);
                            swal.fire({
                                title: "Success!",
                                text: data.response,
                                type: "success",
                                confirmButtonText: "Continue",
                            });
                        }
                        if(data.results === 'error') {
                            $("#errorr").innerText = data.response;
                            console.log(data+'error');
                            swal.fire({
                                title: "Error!",
                                text: data.response,
                                type: "error",
                                confirmButtonText: "Retry"
                            });
                        }
                   },

               });

           });

       });
       $(function () {

           $('#passwdform').submit(function (e) {
               e.preventDefault();
                var phone = document.getElementById('validationCustom066ld').value;
                var pin1 = document.getElementById('validationCustom0b4').value;
                var pin2 = document.getElementById('validationCustom095').value;
               $.ajax({
                   type: 'POST',
                   url : $('#passwdform').attr('action'),
                   data:{
                       'phone_number':phone,
                       'password1':pin1,
                       'password2':pin2,
                       'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val(),
                   },
                   dataType:'json',
                   success : function (data) {
                        if (data.results === 'success'){
                            console.log(data+'success');
                            $('#three').fadeOut();

                            swal.fire({
                                title: "Success!",
                                text: data.response,
                                type: "success",
                                confirmButtonText: "Continue",
                            });
                        }
                        if(data.results === 'error') {
                            $("#errorr").innerText = data.response;
                            console.log(data+'error');
                            swal.fire({
                                title: "Error!",
                                text: data.response,
                                type: "error",
                                confirmButtonText: "Retry"
                            });
                        }
                   },

               });

           });

       });

    </script>
{% endblock scripts %}