
{% extends 'shoppy/layout.html' %}
{% load static %}
{% load call_method %}
{% load humanize %}
{% block content %}

    <div class="user_account mb-6">
        <div class="col-sm-12 py-6 ">
            <h3 class="page-header ml-5 text-sm-center text-xs-center" style="padding-left: 40px"><i class="far fa-user mr-3"></i> My Shoppy Account</h3>
        </div>

        <div class="col-sm-12 py-4 ">
          <div class="row d-md-flex d-lg-flex justify-content-center align-content-center">
              <div class=" mb-sm-5 mb-xs-5 col-md-2 col-sm-12 col-xs-12 side-l-panel">
                <div class="nav flex-column nav-pills " id="v-pills-tab" role="tablist" aria-orientation="vertical">
                      <a class="nav-link side-menu-btn active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true"><i style="color: #172B1E;" class="fas fa-people-carry"></i>Orders History ({{orders.count}})</a>
                      <a class="nav-link side-menu-btn" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false"><i style="color: #172B1E;" class="fas fa-info-circle"></i> Edit Account Details</a>
                      <a class="nav-link side-menu-btn" id="v-pills-saved-tab" data-toggle="pill" href="#v-pills-saved" role="tab" aria-controls="v-pills-saved" aria-selected="false"><i style="color: #172B1E;" class="far fa-heart"></i> Saved ({{ wishlist.count }})</a>
                      <a class="nav-link side-menu-btn" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false"><i style="color: #172B1E;" class="fas fa-key"></i> Change Password</a>
                      <a class="nav-link product-button product-button-custom text-white"  href="{% url 'Shoppy:shoppy-logout' %}">LogOut</a>
                </div>
              </div>
{#          orders#}
              <div class="col-md-9 col-sm-12 col-xs-12 side-r-panel">
                <div class="tab-content" id="v-pills-tabContent">
                  <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <div class="col-sm-12 ">
                        <div class="row py-5">
                            <h3 class="page-header">My Order History ({{orders.count}})</h3>
                        </div>
                        {% if orders %}


                        {% for order in orders %}
                            <div class="row mt-2">
                             <div class="product-wrapper d-flex w-100">
                                <div class="product-image col-sm-4 col-md-3" style="height: 203px !important;">
                                   <img src="{{order.product.featured_url.url}}" alt="">
                                </div>
                                <div class="product-details-s col-sm-6 col-md-8 d-flex flex-column justify-content-between">
                                    <h3 class="cart-prod-name-text text-capitalize">{{order.product.name}}</h3>
                                    <span class="text-muted size2">{{order.created_at|date:'F n Y'}}</span>
                                    <span class="size1"><a href="{% url 'Shoppy:shoppy_product_details' order.product.id %}">See Details</a></span>
                                </div>
                                <div class="col-sm-1 d-flex align-items-center align-content-center justify-content-center">
                                    <span class="product_price">{{ order.product.unit_cost|intcomma }} Ksh</span>
{#                                    <a href="" class="text-sm-center text-xs-center color-orange-shoppy size4"><i class="fas fa-trash mr-2"></i> Delete</a>#}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                              <div class="row mt-2 d-flex justify-content-center align-content-center align-items-center">
                                     <div class="col-sm-6" style="width: 200px; border: none;margin: 20px; overflow: hidden;">
                                         <h1 class="text-center py-5">No Orders For You Today</h1>
                                         <img class="img-fluid w-100 h-100" src="{% static 'img/sitelogo/TULIA.png' %}" alt="">
                                     </div>
                                </div>
                        {% endif %}
                    </div>
                  </div>

                  <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                      <div class="content-section-user Account">
                          {% if errors %}
                            <div class="alert alert-danger text-white" role="alert">
                                {% for error in errors %}
                                  <p class="text-white">{{ error }}</p>
                                {% endfor %}
                            </div>
                          {% endif %}

                          {% if messages %}
                            <div class="messages alert alert-danger text-white" role="alert">
                              {% for message in messages %}
                                <p class="text-white " {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                              {% endfor %}
                            </div>
                          {% endif %}

                          {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger" role="alert">
                                      <strong class="text-white">{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger text-white" role="alert">
                                  <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                          {% endif %}

                        <h2 class=" page-header py-4">User Account Details</h2>
                            <form class="needs-validation" novalidate action="{% url 'Shoppy:shoppy-user_account' %}" method="POST">
                                {% csrf_token %}

                                    <div class="col-md-12 row py-5 d-flex justify-content-center align-content-center">
                                        <div class="col-md-5 mb-3 mr-1">
                                          <label for="validationCustom01">First name</label>
                                          <input name="first_name" type="text" class="form-control" id="validationCustom01" placeholder="First name" value="{{ buyer.first_name }}" required>
                                          <div class="valid-feedback">
                                            Looks good!
                                          </div>
                                          <div class="invalid-feedback">
                                            Enter your First name
                                          </div>
                                        </div>

                                        <div class="col-md-5 mb-3 m">
                                          <label for="validationCustom02">Last name</label>
                                          <input name="last_name" type="text" class="form-control" id="validationCustom02" placeholder="Last name" value="{{ buyer.last_name }}" required>
                                          <div class="valid-feedback">
                                            Looks good!
                                          </div>
                                          <div class="invalid-feedback">
                                            Enter your Last name
                                          </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 row py-5 -flex justify-content-center align-content-center">
                                        <div class="col-md-5 mb-3 mr-1">
                                          <label for="validationCustomUsername">Email</label>
                                          <div class="input-group">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text" id="inputGroupPrepend">@</span>
                                            </div>
                                            <input name="username" type="email" class="form-control" id="validationCustomUsername" value="{{ buyer.username }}" placeholder="Email" aria-describedby="inputGroupPrepend" required><br>

                                             <div class="invalid-feedback">
                                              Please enter your Email.
                                            </div>
                                            <div class="valid-feedback">
                                              Looks even fantastic.
                                            </div>
                                          </div>
                                        </div>

                                        <div class="col-md-5 mb-3">
                                          <label for="validationCustom03">Phone number</label>
                                          <input name="phone_number" type="number" class="form-control" id="validationCustom03" value="{{ buyer.phone_number }}" placeholder="Phone number" required>
                                          <div class="invalid-feedback">
                                            Please provide a valid city.
                                          </div>
                                          <div class="valid-feedback">
                                            Nice .
                                          </div>
                                        </div>
                                  </div>

                                  <button class="product-button product-button-custom py-3" type="submit">Save</button>

                                </form>

                    </div>
                  </div>
                  <div class="tab-pane fade" id="v-pills-saved" role="tabpanel" aria-labelledby="v-pills-saved-tab">
                      <div class="col-sm-12 ">
                        <div class="row py-5">
                            <h3 class="page-header">Saved Items ({{ wishlist.count }})</h3>
                            {% if wishlist %}
                            <a href="{% url 'Shoppy:remove_all_from_wishlist' %}" class="product-button pull-right color-orange-shoppy size4 superfont"><i class="fa fa-trash-alt"> Delete All</i></a>
                            {% endif %}
                        </div>

                        {% for wishlist in wishlist %}
                            <!-- Modal -->
                            <div class="modal  fade" id="uc{{ wishlist.product.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                              <div class="modal-dialog modal-xl" role="document">
                                <div class="modal-content">
                                  <div class="modal-header bg-orange-shoppy text-white">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Add To {{ wishlist.product.name }} Cart</h5>
                                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true"><i class="fas fa-times-circle"></i></span>
                                    </button>
                                  </div>
                                  <form action="{% url 'Shoppy:shoppy-add-cart' wishlist.product.id %}" method="post">
                                      {% csrf_token %}
                                      <div class="modal-body">
                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class="col-md-4  add-to-cart-image p-0">
                                                     <img id="expandedcartimg" class="expandedimg" src="{{ wishlist.product.featured_url.url }}" alt="{{ product.name }}">
                                                </div>
                                                <div class="col-md-6 pl-5">
                                                    <div class="row ">
                                                        <h2 class="text-capitalize">{{ wishlist.product.name }}</h2>
                                                    </div>
                                                    <div class="row py-2">
                                                        {% if  wishlist.product.price_after_offer and wishlist.product.id|product_on_offer %}
                                                            <div style="display: flex; flex-direction: column;">
                                                                <span> {{ wishlist.product.price_after_offer|floatformat:1|intcomma }}Kshs</span>
                                                                <span class="striked-price">{{ wishlist.product.unit_cost_inclusive_of_vat|floatformat:1|intcomma }} Kshs</span>
                                                            </div>
                                                        {% else %}
                                                            <span style=""> {{ wishlist.product.unit_cost_inclusive_of_vat|floatformat:1|intcomma }}Kshs</span>
                                                        {% endif %}
                            {#                            <span class="size2 text-muted font-italic">{{ product.unit_cost_inclusive_of_vat }} Kshs</span>#}
                                                    </div>
                                                    <div class="row">
                                                        <span>{{ wishlist.product.short_description }}</span>
                                                    </div>
                            {#                                    <input type="text" hidden name="buyer">#}
                                                    <div class="row py-3">
                                                        <div class="col-sm-12 row pt-3">
                            {#                                            {% if product.product_variant_options.count > 0 %}#}
                                                            {% if wishlist.product.variants %}
                                                            {% for variant in  wishlist.product.variants %}
                                                               <div class="flex  col-sm-12 col-md-6 ">
                                                                    <div class="control-label py-2 text-capitalize">{{ variant.name}}</div>
                                                                    <div class=" respon6-next w-100">
                                                                        <div class="rs1-select2 bor8 bg0">
                                                                            <select class="browser-primary custom-select" name="variant_options[]">
                                                                              <option class="text-muted" disabled selected>Open this select menu</option>

                                                                                {% for option in product.id|variant_options:variant.id %}
                                                                                    <option class="text-capitalize" value="{{ option.id }}">{{ option.name }}</option>
                                                                                {% endfor %}
                                                                            </select>
                                                                            <div class="dropDownSelect2"></div>
                                                                        </div>
                                                                    </div>
                                                               </div>
                                                            {% endfor %}
                                                            {% else %}
                                                                <div class="flex  col-sm-12 col-md-6 ">
                                                                    <div class="control-label py-2 text-capitalize">No Options for this product</div>
                                                                    <div class=" respon6-next w-100">
                                                                        <div class="rs1-select2 bor8 bg0">
                                                                            <select disabled class="browser-primary custom-select" name="">
                                                                               <options value="No Variant Options For This Product"  >No Variant Options For This Product</options>
                                                                            </select>
                                                                            <div class="dropDownSelect2"></div>
                                                                        </div>
                                                                    </div>
                                                               </div>
                                                            {% endif %}

                                                        </div>
                                                    </div>

                                                    {% if  wishlist.product.price_after_offer and wishlist.product.id|product_on_offer %}
                                                        <label>
                                                            <input name="unit_cost" type="number" hidden value="{{ wishlist.product.price_after_offer }}">
                                                        </label>
                                                    {% else %}
                                                        <label>
                                                            <input name="unit_cost" type="number" hidden value="{{ wishlist.product.unit_cost_inclusive_of_vat }}">
                                                        </label>
                                                    {% endif %}

                                                    <div class="row py-3 pl-3 d-flex flex-column">
                                                        <div class="control-label py-2">Quantity</div>
                                                        <div class="slider-container ">
                                                            <button class="btn-num-product-down slider-contents slider-contents-control border-right"><i class="fas fa-minus"></i></button>
                                                            <input value="1" class="slider-contents slider-contents-center num-product d-flex justify-content-center align-items-center slider_count" type="number" name="quantity" >
                                                            <button class="btn-num-product-up slider-contents slider-contents-control border-left"><i class="fas fa-plus"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn bg-org">Add to Cart</button>
                                      </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                        {% endfor %}

                            {% if wishlist %}
                            {% for wishlist in wishlist %}
                                <div class="row mt-2">
                                     <div class="product-wrapper row d-flex w-100">
                                        <div class="product-image-cart col-sm-6 col-md-6 col-lg-3  col-xl-3 " >
                                           <img class="img-responsive w-100"  src="{{ wishlist.product.featured_url.url }}" alt="">
                                        </div>
                                        <div class="product-details-s col-sm-12 col-md-12 col-lg-9 col-xl-9 d-flex flex-row justify-content-between">
                                            <div class="col-sm-12 col-md-12 col-lg-12 d-flex justify-content-between flex-column ">
                                                <h3 class="cart-prod-name-text text-capitalize">{{ wishlist.product.name }}</h3>

                                                <div class="product-price d-flex ">
                                                    <span class="normal-price">Ksh <span>{{ wishlist.product.unit_cost }}</span></span>
                                                    <span class="striked-price  text-muted pl-3 ml-3">Ksh <span>32,000</span></span>
                                                </div>
                                                <span class="size1">
                                                    <a href="">See Details</a>
                                                    <a class="ml-3" data-toggle="modal" data-target="#uc{{ wishlist.product.id }}" href="#" >
                                                        <i style="color: #172B1E;font-size: 24px;" class=" cart-icon fas fa-shopping-cart color-orange-shoppy"></i>
                                                    </a>
                                                    <a href="{% url 'Shoppy:remove_from_wishlist' wishlist.id request.path|make_safe  %}" class="text-sm-center text-xs-center  size4 "><i style="color: red;" class=" fas fa-trash mr-2"></i> </a>

                                                </span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                          {% endfor %}
                          {% else %}
                                <div class="row mt-2 d-flex justify-content-center align-content-center align-items-center">
                                     <div class="col-sm-3" style="width: 200px; border: none;margin: 20px; overflow: hidden;">
                                         <h1>No Wishes For You</h1>
                                         <img class="img-fluid w-100 h-100" src="{% static 'img/sitelogo/TULIA.png' %}" alt="">
                                     </div>
                                </div>
                          {% endif %}
                      </div>
                  </div>
                  <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                      <div class="content-section-user Account">
                          {% if errors %}
                            <ul class="p-0">
                            {% for error in errors %}
                                <div class="alert alert-danger" role="alert">
                                  {{ error }}
                                </div>
                            {% endfor %}
                            </ul>
                          {% endif %}

                          {% if messages %}
                            <ul class="messages">
                              {% for message in messages %}
                                  <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}" role="alert">
                                      {{ message }}
                                  </div>
                              {% endfor %}
                            </ul>
                          {% endif %}

                          {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                      <strong class="text-white">{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger text-white">
                                  <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                          {% endif %}

                        <h2 class=" page-header py-4">Change Password</h2>
                            <form class="needs-validation" novalidate action="{% url 'Shoppy:change_password' %}" method="POST">
                                {% csrf_token %}
                                <div class="col-sm-12 py-5 d-flex flex-column">
                                    <div class="col-md-12 mb-3">
                                      <label for="validationCustom04"> Current Password</label>
                                      <input maxlength="4" type="password" name="old_password" class="form-control" id="validationCustom04" placeholder=" Current Pin" required>
                                        <small id="passwordHelpBlock" class="form-text text-muted">
                                          Your password must be 4 characters long.
                                        </small>

                                    </div>

                                    <div class="col-md-12 mb-3">
                                      <label for="validationCustom05">New Password</label>
                                      <input maxlength="4" name="new_password1" type="password" class="form-control" id="validationCustom05" placeholder="New Pin" required>
                                        <small id="passwordHelpBlock" class="form-text text-muted">
                                          Your password must be 4 characters long.
                                        </small>

                                    </div>

                                    <div class="col-md-12 mb-3">
                                      <label for="validationCustom05">Retype Pin</label>
                                      <input maxlength="4" name="new_password2" type="password" class="form-control" id="validationCustom05" placeholder="Retype Your Pin" required>
                                        <small id="passwordHelpBlock" class="form-text text-muted">
                                          Your password must be 4 characters long.
                                        </small>

                                    </div>
                                </div>
                                <button class="product-button product-button-custom py-3" type="submit">Save</button>
                            </form>

                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
    </div>
{% endblock content %}